.card{
  background-color: hsl(0, 0%, 9%);
  width: 20rem;
  height: 15rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid rgb(37, 37, 37);

}

.card .weather-title{
  background-color: aquamarine;
  width: 100%;
  height: 2rem;
}

.card .weather-subtitle{
  background-color:brown;
  width: 100%;
  height: 2rem;
}

.card .info-card{
  background-color: cadetblue;
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.info-card .info-temperature{
  background-color: burlywood;
  width: 80px;
  height: 80px;
}

.info-card .temperature-levels{
  background-color:chartreuse;
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.temperature-levels .temp-max{
  /* background-color: chocolate; */
  width: 8rem;
  height: 3rem;
}

.temperature-levels .temp-min{
  /* background-color: red; */
  width: 8rem;
  height: 3rem;
  border-left: 1px solid white;
}