<div class="about-app">
  <div class="title">About</div>
  <div class="text-about">
    <p>
      My first app in angular, this is a weather app, it can be searched
      anywhere in the world.
    </p>
    <br />
    <p>
      Use different components for the layout, communication of elements. Use
      the api "openWeatherapi". Also add a login section.
    </p>
    <br />
    <p>
      When searching for the city, the data shown on the screen are: the city,
      temperature, humidity, maximum-temperature and a small description.
    </p>
  </div>
</div>
