<div class="header-nav">
  <div class="name-app"><i class="uil uil-cloud-sun"></i>Weather App</div>
  <ul class="navbar-list">
    <li
      [routerLink]="item.router"
      [queryParams]="item.query"
      *ngFor="let item of mainMenu.defaultOptions"
    >
      <div class="wrapper-item">
        <i
          [ngClass]="['uil', item.icon]"
          [ngStyle]="{ 'font-size': '17px' }"
        ></i>
        <span class="list-label" [ngStyle]="{ 'font-size': '17px' }">{{
          item.name
        }}</span>
      </div>
    </li>
  </ul>
</div>
