header {
  background-color: hsl(0, 0%, 5%);
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.226);
}

.wrapper-navbar {
  /* background-color: antiquewhite; */
  width: 90%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wrapper-navbar .logo-app {
  /* background-color: beige; */
  /* width: 10rem; */
  height: 3rem;
  line-height: 3rem;
  font-family: "Inter";
  color: white;
}

.wrapper-navbar .list-group {
  /* background-color:burlywood; */
  width: 20rem;
  height: 4rem;
  display: table;
  padding: 0;
  border-collapse: separate;
}

.list-group .item-list {
  /* background-color: aqua; */
  display: table-cell;
  list-style-type: none;
  text-align: center;
}

.item-list a {
  /* background-color: cadetblue; */
  display: inline-block;
  width: 5rem;
  height: 3rem;
  font-size: 14px;
  line-height: 3rem;
  text-decoration: none;
  color: white;
  font-family: "Inter thin";
}

.item-list a:hover {
  border-bottom: 1px solid rgb(88, 88, 88);
  transition-duration: 0.2ms;
}
