.header-nav {
  background-color: black;
  width: 100%;
  height: 65px;

  /* Grid */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.header-nav .name-app {
  color: #fff;
  justify-self: center;
  align-self: center;
}

.header-nav .navbar-list {
  /* background-color: aquamarine; */
  grid-column: 3/4;
  line-height: 3rem;
  height: 3rem;
  list-style: none;
  color: #fff;
}

ul {
  display: table;
  text-align: center;
  align-self: center;
  margin-right: 2rem;
}

ul li {
  display: table-cell;
  cursor: pointer;
}

ul li:hover {
  border-bottom: 1px solid red;
}

ul li:active {
  border-bottom: 1px solid red;
}
