<div class="cards-weather">
  <div class="search">
    <form (submit)="submitLocation(cityName)">
      <input type="text" placeholder="Search city" #cityName />
      <button><i class="uil uil-search"></i></button>
    </form>
  </div>
  <div class="results-card">
    <div *ngIf="weather; else message" class="card-descript">
      <span> City: {{ weather.city.name }}</span>
      <hr />
      T <span>emperature: {{ weather.list[0].main.temp }}</span>
      <hr />
      <span>Humidity: {{ weather.list[0].main.humidity }}</span>
      <hr />
      <span>Temp-Max: {{ weather.list[0].main.temp_max }}</span>
      <hr />
      <span>Description: {{ weather.list[0].weather[0].description }}</span>
    </div>
  </div>
</div>

<ng-template #message><p>Search the city</p></ng-template>

<!-- *ngIf="weather" -->
