.cards-weather {
  height: 100vh;
  gap: 5rem;
  /* background-color: blanchedalmond; */

  /* Grid */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px 300px;
}

.cards-weather form {
  margin-top: 10px;
}

form input {
  border: 0;
  outline: none;
}

.cards-weather .search {
  background-color: lightslategray;
  grid-column: span 4;

  /* flex */
  display: flex;
  justify-content: center;
}

.search button {
  width: 4rem;
  border: 0;
  cursor: pointer;
  margin-left: 1px;
}

.search button:hover {
  background-color: gray;
  transition: all 0.4s ease;
}

.cards-weather .results-card {
  /* background-color: brown; */
  grid-column: span 4;

  /* flex */
  display: flex;
  justify-content: center;
}

.results-card .card-descript {
  /* background-color: chartreuse; */
  width: 20rem;
  text-align: center;

  line-height: 3rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}

p {
  opacity: 0.5;
}
