.cards-weather {
  width: 100%;
  min-height: auto;
}

.cards-weather form {
  margin-top: 10px;
}

form .input-form {
  border: 0;
  outline: none;
  border-radius: 20px;
  padding: 4px;
  height: 1.5rem;
  font-family: "Inter";
  box-shadow: 2px 5px 11px -2px rgb(109, 109, 109);
  margin-bottom: 20px;
}

.cards-weather .search {
  background-color: hsl(0, 0%, 5%);
  display: flex;
  justify-content: center;
}

.search .btn-search {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border: 0;
  cursor: pointer;
  border-radius: 50px;
  margin-left: 20px;
}

.search button:hover {
  background-color: gray;
  transition: all 0.4s ease;
  animation-duration: 1s;
  transform: rotate(40deg);
}


.section-card{
  width: 100%;
  min-height: 15rem;
  /* background-color: chocolate; */
  display: flex;
  flex-direction: column;
  align-items: center;
}