<div class="login">
  <form>
    <h1 class="log">Login</h1>

    <div class="container">
      <label for="Email"
        ><b [ngStyle]="{ 'font-size': '16px' }">Email <span>*</span></b></label
      >
      <input
        type="email"
        placeholder="you@example.com"
        [ngStyle]="{ 'font-size': '15px' }"
        requerid
      />

      <label for="pass"
        ><b [ngStyle]="{ 'font-size': '16px' }"
          >Password <span>*</span></b
        ></label
      >
      <input
        type="password"
        placeholder=" Enter password"
        [ngStyle]="{ 'font-size': '15px' }"
        required
      />

      <label class="rem" [ngStyle]="{ 'font-size': '17px' }"
        ><input type="checkbox" /> Remember me
      </label>

      <button [ngStyle]="{ 'font-size': '17px' }">Sign in</button>
      <div class="separator"></div>

      <div class="member">
        Not a member?
        <span [routerLink]="['/login']" routerLinkActive="router-link-active"
          >Signup now</span
        >
      </div>
    </div>
  </form>
</div>
