/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
}

body,html{
  height: 100vh;
}

@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter-Bold.woff2") format('woff2');
  font-display:swap;

}

@font-face {
  font-family: "Inter thin";
  src: url("assets/fonts/Inter-Regular.woff2") format("woff2");
  font-display:swap;

}